apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

buildMetadata:
- managedByLabel

namespace: seafile

labels:
- includeSelectors: true
  includeTemplates: true
  pairs:
    app.kubernetes.io/name: seafile

resources:
- namespace.yaml

helmCharts:
- name: ce
  releaseName: seafile
  version: "13.0"
  repo: https://haiwen.github.io/seafile-helm-chart/repo
  namespace: seafile
  valuesFile: values.yaml
