apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
  # ConfigMap for the init script
  - name: step-ca-init-script
    files:
      - step-ca-init.sh=script.sh

  # ConfigMap for environment variables
  - name: step-ca-init-env
    envs:
      - init-container.env

patches:
  - path: patch.yaml
    target:
      kind: Deployment
      name: step-certificates
