apiVersion: apps/v1
kind: Deployment
metadata:
  name: baikal
spec:
  replicas: 1
  strategy:
    type: Recreate
  template:
    spec:
      dnsPolicy: ClusterFirst
      enableServiceLinks: true
      containers:
        - name: baikal
          image: ckulka/baikal
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - name: config-data
              mountPath: /var/www/baikal/config
            - name: specific-data
              mountPath: /var/www/baikal/Specific
          livenessProbe:
            tcpSocket:
              port: 80
            initialDelaySeconds: 0
            failureThreshold: 3
            timeoutSeconds: 1
            periodSeconds: 10
          readinessProbe:
            tcpSocket:
              port: 80
            initialDelaySeconds: 0
            failureThreshold: 3
            timeoutSeconds: 1
            periodSeconds: 10
          startupProbe:
            tcpSocket:
              port: 80
            initialDelaySeconds: 0
            failureThreshold: 30
            timeoutSeconds: 1
            periodSeconds: 5
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
      volumes:
        - name: config-data
          persistentVolumeClaim:
            claimName: baikal-config-data
        - name: specific-data
          persistentVolumeClaim:
            claimName: baikal-specific-data
