# Based on this guide: https://github.com/vrtmrz/obsidian-livesync/blob/main/docs/setup_own_server.md?plain=1
#
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: obsidian-livesync

labels:
- includeSelectors: true
  includeTemplates: true
  pairs:
    app.kubernetes.io/name: obsidian-livesync

configMapGenerator:
- name: obsidian-livesync
  envs:
  - obsidian-livesync.env
- name: couchdb-init-script
  files:
  - init-script.sh
  options:
    disableNameSuffixHash: true

resources:
- namespace.yaml
- pvc.yaml
- service.yaml
- job.yaml
- deployment.yaml
