# This patch replaces the individual ConfigMap/Secret volume mounts
# with a single PVC mount at /home/step for the StatefulSet
apiVersion: apps/v1
kind: Deployment
metadata:
  name: step-certificates
  namespace: step-ca
spec:
  template:
    spec:
      volumes:
        - name: ca-data
          persistentVolumeClaim:
            claimName: step-certificates-data
        # Remove old volumes
        - name: certs
          $patch: delete
        - name: config
          $patch: delete
        - name: secrets
          $patch: delete
        - name: ca-password
          $patch: delete
        - name: certificate-issuer
          $patch: delete
      containers:
        - name: step-certificates
          # command: ["/bin/sh"]
          # args: ["-c", "sleep 30000"]
          volumeMounts:
            # Keep the new PVC mount
            - mountPath: /home/step
              name: ca-data
            # Remove old mounts
            - mountPath: /home/step/certs
              $patch: delete
            - mountPath: /home/step/config
              $patch: delete
            - mountPath: /home/step/secrets
              $patch: delete
            - mountPath: /home/step/secrets/passwords
              $patch: delete
            - mountPath: /home/step/secrets/certificate-issuer
              $patch: delete
