# https://github.com/traefik/traefik-helm-chart/blob/master/traefik/values.yaml
ports:
  web:
    redirections:
      entryPoint:
        to: websecure
        scheme: https
  # Custom DNS port for DNS-over-HTTPS or similar services
  dns:
    port: 5353
    expose:
      default: true
    exposedPort: 53
    protocol: UDP
  # Custom WireGuard port
  wireguard:
    port: 51820
    expose:
      default: true
    exposedPort: 51820
    protocol: UDP

# TLS Store are created as TLSStore CRDs.
# This is useful if you want to set a default certificate
# https://doc.traefik.io/traefik/https/tls/#default-certificate
tlsStore:
  default:
    defaultCertificate:
      secretName: tls-traefik-default-cert

providers:
  kubernetesCRD:
    allowExternalNameServices: true

priorityClassName: "system-cluster-critical"

tolerations:
  - key: "CriticalAddonsOnly"
    operator: "Exists"
  - key: "node-role.kubernetes.io/control-plane"
    operator: "Exists"
    effect: "NoSchedule"
  - key: "node-role.kubernetes.io/master"
    operator: "Exists"
    effect: "NoSchedule"

ingressRoute:
  dashboard:
    enabled: true
    matchRule: Host(`traefik.libre.pod`)
    entryPoints: ["websecure"]
    annotations:
      gethomepage.dev/enabled: "true"
      gethomepage.dev/description: Traefik
      gethomepage.dev/group: LibrePod System
      gethomepage.dev/icon: traefik.png
      gethomepage.dev/weight: "10"

logs:
  access:
    enabled: true
