apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

buildMetadata:
- managedByLabel

# TODO: Remove namespace when installing apps from argocd appset
namespace: traefik

resources:
- namespace.yaml
