apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: vaultwarden
spec:
  entryPoints:
  - web
  - websecure
  routes:
  - kind: Rule
    match: Host(`vaultwarden.libre.pod`)
    priority: 1
    services:
    - name: vaultwarden
      port: 80
